

.cat-btn{
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor:pointer;
    background: lightblue;
    outline: none;
    border: none;
    color: white;
    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.cat-btn:hover{
    background-color: #FC1503 !important;
    color: white !important;
}

.cat-btn:hover span{
    color: white !important;

}

@media screen and (max-width: 900px) {
    .cat-btn{
      margin: 10px;
    }
  }
